$default: #3a3a3a;
$heading: #0084ff;
$blue: #0084ff;
$red: #ff0024;
$white: #fff;
$black: #000;
$grey: #a2a2a2;
$light-grey: #f5f8fa;
$purple: #8b00a9;
$pink: #ff0072;
$yellow: #fff600;
$black-shadow: rgba(0, 0, 0, 0.1);
$placeholder: rgba(0, 0, 0, 0.5);
$input: rgba(0, 0, 0, 0.5);
$button: #0084ff;
$cubic-bezier-1: '0.19, 1, 0.22, 1';
$break-points: (
  'phone': 320px,
  'phone-wide': 375px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1280px,
  'desktop-wide': 1720px,
);
